.DS_Store

*.log

#_config.yml
# 这个是注释掉的，平时没什么影响，但是会影响更新主题。
# 为了防止开发中 _config.yml 被推送进 Repo 中，我们将 _config.yml 写入了 .gitignore。
# 这意味着在使用 Git 管理 Hexo 站点文件时，主题配置文件 并不会被 Push 到 Repo 中。此时你需要将 _config.yml 从 .gitignore 中删除，注意这有可能会造成使用 git pull 更新「Suka」时造成冲突。

node_modules

.idea

.directory

package-lock.json
